#contenedor{
    margin: 16px;
}

#contenedor_DomicilioNoSeleccionado {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

#contenedor_DomicilioSeleccionado {
    display: flex;
    flex-direction: row;
}

    #contenedor_DomicilioSeleccionado .mapa {
        width: 10rem;
        height: 10rem;
        margin-right: 1rem;
        background: white;
        border-radius: 1rem;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #contenedor_DomicilioSeleccionado .contenido {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }


#btn_SeleccionarDomicilio, #btn_CancelarDomicilio {
    margin-top: 1rem;
}


#errorFormulario_Domicilio {
    margin-top: 1rem;
}
