
  
  .tabla-contenedor .busqueda {
        display: flex;

    }

  .tabla-contenedor .busqueda .row {
          margin: 1rem!important;
    margin-bottom: 2rem!important;
  }


        .tabla-contenedor .busqueda > div {
            flex: 1;
        }

