#main {
    overflow-y: auto;
    overflow-x: hidden;
}

.seccion {
    display: flex;
    flex-direction: column;
}

    .seccion.icono {
        flex-direction: row;
    }

    .seccion:not(:first-child) {
        margin-top: 1rem;
    }

    .seccion.icono .material-icons {
        opacity: 0.8;
        font-size: 1.3rem;
        margin-top: 0.2rem;
    }

    .seccion.icono .textos {
        display: flex;
        margin-left: 0.5rem;
        flex-direction: column;
    }

#contenedor_Encabezado {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    background: rgba(0,0,0,0.05);
}

    #contenedor_Encabezado .datos {
        display: flex;
        flex-direction: column;
    }

    #contenedor_Encabezado #contenedor_Secretaria {
        width: 100%;
        margin-top: 1rem;
        display: flex;
    }

        #contenedor_Encabezado #contenedor_Secretaria > div {
            flex: 1;
        }

#texto_Nombre {
    font-size: 2rem;
}

#contenedor_Detalle {
    padding: 1rem;
}


.link{
    text-decoration:underline;
    cursor:pointer;
}

#contenedor_Acciones{
    margin-top:1rem;
}

