#contenedor_Ayuda {
    background-color: lightyellow;
    display: flex;
    padding: 0.5rem;
}

    #contenedor_Ayuda label {
        margin-left: 0.5rem;
    }

#contenedor_Area {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    max-height: 0;
    opacity: 0;
    transition: all 0.3s;
}


    #contenedor_Area.visible {
        opacity: 1;
        max-height: 50rem;
    }


    #contenedor_Area .col {
        display: flex;
        flex-direction: column;
    }

.link {
    text-decoration: underline;
    cursor: pointer;
    align-self: baseline;
}


#info {
    padding: 0.5rem;
    margin-bottom: 3rem !important;
    background-color: lightgoldenrodyellow;
    display: flex;
}

    #info i {
        margin-right: 1rem;
    }
