<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Base: produccion (true) - local (false) -->
    <add key="DEPLOY" value="true" />


    <!-- CordobaGeoApi -->
    <add key="URL_CORDOBA_GEO_API" value="" />

    <!-- CordobaFilesApi -->
    <add key="URL_SERVIDOR_CORDOBA_FILES" value="" />
    <add key="API_KEY_CORDOBA_FILES" value="" />

    <!-- Vecino Virtual -->
    <add key="URL_WS_VECINO_VIRTUAL" value="" />
    <add key="URL_ACTIVAR_USUARIO" value="" />
    <add key="URL_RECUPERAR_PASSWORD" value="" />

    <!-- Vecino Virtual Identificador -->
    <add key="CERROJO_APP_IDENTIFIER" value="" />

    <!-- Panel Identificador -->
    <add key="PANEL_APP_IDENTIFIER" value="" />

    <!-- Origenes -->
    <add key="ORIGEN_AREA_DEFAULT_KEY_ALIAS" value="" />
    <add key="ORIGEN_AREA_DEFAULT_KEY_SECRET" value="" />
    <add key="ORIGEN_APP_KEY_ALIAS" value="" />
    <add key="ORIGEN_APP_KEY_SECRET" value="" />

    <!-- Foto Default -->
    <add key="IDENTIFICADOR_FOTO_USER_MALE" value="" />
    <add key="IDENTIFICADOR_FOTO_USER_FEMALE" value="" />

    <!-- Log -->
    <add key="LOG" value="true" />
    <add key="LOG_URL" value="" />
    <add key="LOG_KEY" value="" />

    <!-- Recaptcha -->
    <add key="RECAPTCHA_VALIDAR" value="false" />
    <add key="RECAPTCHA_URL" value="" />


    <!-- Google Maps -->
    <add key="KEY_GOOGLE_MAPS" value="" />

    <!-- Key Privadas -->
    <add key="DESDEAPP_IDENTIFICADOR" value="" />
    <add key="DESDEAPP_KEY" value="" />
  </appSettings>

  <connectionStrings>
    <!-- DB Produccion -->
    <add name="DB" connectionString="" />
    <!-- DB Test -->
    <add name="DB_TEST" connectionString="" />
  </connectionStrings>

  <system.net>
    <!-- Envio de Mail-->
    <mailSettings>
      <smtp from="">
        <network host="IP" port="" />
      </smtp>
    </mailSettings>

    <!--Proxy-->
    <defaultProxy useDefaultCredentials="true">
      <proxy usesystemdefault="False" bypassonlocal="True" proxyaddress="" />
    </defaultProxy>
  </system.net>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="5000000" />
      </webServices>
    </scripting>
  </system.web.extensions>

  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>