#nav-mobile {
    background-color: var(--colorDrawer);
}

#contenedor-principal {
    width: 100%;
}


.indicador {
    cursor: pointer;
    max-width: 1.6rem;
    max-height: 1.6rem;
    transition: all 0.3s;
    transform: scale(1);
}



.select2-selection--multiple {
    border: none !important;
    border-bottom: 1px solid #aaa !important;
    background-color: transparent !important;
    border-radius: 0 !important;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
    background-color: #EEEEEE !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: red !important;
}

