<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Para el cache. si aumento el numero aca, fuerzo a volver a cargar el cache -->
    <add key="VERSION" value="" />

    <!-- Base: produccion (true) - local (false) -->
    <add key="DEPLOY" value="" />
    
    <!-- CordobaGeoApi -->
    <add key="URL_CORDOBA_GEO_API" value="" />

    <!-- CordobaFilesApi -->
    <add key="URL_SERVER_ARCHIVO" value="" />
    <add key="URL_SERVIDOR_CORDOBA_FILES" value="" />
    <add key="API_KEY_CORDOBA_FILES" value="" />
    <add key="IDENTIFICADOR_FOTO_USER_MALE" value="" />
    <add key="IDENTIFICADOR_FOTO_USER_FEMALE" value="" />
  
    <!-- VecinoVirtual -->
    <add key="URL_WS_VECINO_VIRTUAL" value="" />
    <add key="URL_LOGIN" value="" />
    <add key="URL_MIPERFIL" value=""/>

    <add key="URL_ACTIVAR_USUARIO" value="" />
    <add key="URL_RECUPERAR_PASSWORD" value="" />

    <add key="VECINO_VIRTUAL_KEY_USUARIO_VALIDADO" value="" />
    <add key="VECINO_VIRTUAL_KEY_EDITAR_USUARIOS" value="" />
    
    <!-- Cerrojo -->

    <add key="CERROJO_USUARIO_EMPLEADO" value="!!!!" />
    <add key="CERROJO_APP_IDENTIFIER" value="" />

    <!-- Origenes -->
    <add key="ORIGEN_AREA_DEFAULT_KEY_ALIAS" value="" />
    <add key="ORIGEN_AREA_DEFAULT_KEY_SECRET" value="" />
    <add key="ORIGEN_APP_ANDROID_KEY_ALIAS" value="" />
    <add key="ORIGEN_APP_ANDROID_KEY_SECRET" value="" />
    
    <!--Log-->
    <add key="LOG" value="false" />
    <add key="LOG_URL" value="" />
    <add key="LOG_KEY" value="" />

    <!-- Google Maps -->
    <add key="KEY_GOOGLE_MAPS" value="" />

    <!-- Servidor que uso YO(cba147) como de Test -->
    <add key="URL_SERVIDOR_TEST" value="" />
  </appSettings>

  <connectionStrings>
    <!-- DB Produccion -->
    <add name="DB" connectionString="" />
    <!-- DB Test -->
    <add name="DB_TEST" connectionString="" />
  </connectionStrings>

  <system.net>
    <!-- Envio de Mail-->
    <mailSettings>
      <smtp from="">       
        <network host="" port="" />      
      </smtp>
    </mailSettings>

    <!--Proxy-->
    <defaultProxy useDefaultCredentials="true">
      <proxy usesystemdefault="False" bypassonlocal="True" proxyaddress="" />
    </defaultProxy>
  </system.net>

  <system.web>
    <customErrors mode="Off" />
    <sessionState timeout="60" mode="StateServer" />
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <httpHandlers>
      <add type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=9.0.15.324, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" path="Telerik.ReportViewer.axd" verb="*" validate="true" />
    </httpHandlers>
  </system.web>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <handlers>
      <add name="Telerik.ReportViewer.axd_*" type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=9.0.15.324, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" path="Telerik.ReportViewer.axd" verb="*" preCondition="integratedMode" />
    </handlers>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Reporting" publicKeyToken="a9d7983dfcc261be" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.15.324" newVersion="9.0.15.324" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Remotion.Linq" publicKeyToken="fee00910d6e5f53b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Remotion.Linq.EagerFetching" publicKeyToken="fee00910d6e5f53b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>